@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background-light: #ffffff;
    --color-background-dark: #1F2937; /* Tailwind's gray-800 */
    --color-primary: #7C3AED;         /* Violet */
    --color-secondary: #0EA5E9;       /* Sky */
  }

  body {
    background-color: var(--color-background-light);
    color: #111827; /* Tailwind's gray-900 */
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--color-background-dark);
      color: #F9FAFB; /* Tailwind's gray-50 */
    }
  }
}
